<div class="container">
  <form class="mt-4" method="post" action="/courses/{{Course._id}}?_method=PUT">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        value="{{Course.name}}"
      />
      <div id="emailHelp" class="form-text">We'll never share your email with
        anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input
        type="text"
        class="form-control"
        id="description"
        name="description"
        value="{{Course.description}}"
      />
      <div id="emailHelp" class="form-text">We'll never share your email with
        anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="thumnel" class="form-label">Thumnel</label>
      <input
        type="text"
        class="form-control"
        id="thumnel"
        name="thumnel"
        value="{{Course.thumnel}}"
      />
      <div id="emailHelp" class="form-text">We'll never share your email with
        anyone else.</div>
    </div>

    <button type="submit" class="btn btn-primary">Update a new course</button>
  </form>
</div>